* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Cabin", sans-serif;
}

header {
    background: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

nav {
    padding: 0 5%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 3vw;
}

nav ul {
    display: flex;
    gap: 2vw;
    list-style: none;
}

nav ul li:nth-child(1) {
    color: rgb(222, 65, 50);
}

nav button,
.hero button,
#next-level button,
#choose-us button {
    width: 150px;
    height: 45px;
    background-color: rgb(222, 65, 50);
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
}

.hero {
    width: 90%;
    max-width: 555px;
    margin-left: 5%;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.hero h1,
#newsfeed h1 {
    font-size: clamp(2rem, 6vw, 60px);
}

.hero h1 span,
#newsfeed h1 span {
    color: rgb(222, 65, 50);
}

.hero .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.hero .sec-btn,
#next-level button {
    background-color: white;
    color: rgb(222, 65,
